---
import { buttonVariants } from '@/components/ui/button'
import NotFoundLayout from '@/layouts/NotFoundLayout.astro'
---

<NotFoundLayout title="Not Found">
  <div class="absolute inset-0 flex flex-col gap-4 items-center justify-center">
    <div class="text-xl">ページが見つかりませんでした</div>
    <div>
      <a href="/" class={buttonVariants({ variant: 'outline' })}> Topへ</a>
    </div>
  </div>
</NotFoundLayout>
