---
import Date from '@/components/original/date'
import Layout from '@/layouts/Layout.astro'
---

<Layout title="Welcome to Astro.">
  <main class="container max-w-4xl pb-16 space-y-10">
    <div>
      <Date />
    </div>
    <!-- <div>
      <Profile />
    </div>
    <div>
      <About />
    </div>
    <div>
      <Works />
    </div> -->
  </main>
</Layout>
