---
import Date from '@/components/original/date'
import About from '@/components/original/about'
import Profile from '@/components/original/profile'
import Layout from '@/layouts/Layout.astro'
import { getAbout } from '@/lib/newt/get-about'
const about = await getAbout()
---

<Layout title="Welcome to Astro.">
  <main class="container max-w-4xl pb-16 space-y-10">
    <div>
      <Date />
    </div>
    <div>
      <Profile name={about[0].name} position={about[0].position} />
    </div>
    <div>
      <About content={about[0].content} />
    </div>
    <div>
      <!-- <Works /> -->
    </div>
  </main>
</Layout>
